@{
    ViewBag.Title = "Index";
}
<div class="container">
    <header class="page-header">
        <h1>
            This page uses Twitter Bootstrap (via bootstrap.less)</h1>
    </header>
    <div id="content">
        <aside id="left-column">Left column using mixins</aside>
        <div id="main-column">Middle column using mixins</div>
        <aside id="right-column">Right column using mixins</aside>
    </div>
</div>
